name: Development Build

on:
  push:
    branches:
      - dev

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    env:
      GH_TOKEN: ${{secrets.GH_TOKEN}}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node JS
        uses: actions/setup-node@v4
        with:
          node-version: 22.17.0

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Build App
        shell: bash
        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then
            pnpm run build:win
          else
            pnpm run build:linux
          fi

      - name: Get package version
        id: package-version
        shell: bash
        run: |
          version=$(jq -r .version package.json)
          echo "current-version=$version" >> $GITHUB_OUTPUT

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.os }}
          path: |
            ./dist/latest.yml
            ./dist/latest-linux.yml
            ./dist/*.exe
            ./dist/*.AppImage
            ./dist/*.deb
